
.btn-on {
  padding: 2%;
  background: #FF5578;
  border-radius: 4px;
  color: white;
  border: solid 2px #ff5578;
}

a.btn-on {
  color:white
}

.btn-off{
  padding: 2%;
  border-radius: 4px;
  color: #ff5578;
  border: solid 2px #ff5578;
}

a.btn-off {
  color:#ff5578
}

